<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We use this permission to update your water intake data in the Health app, helping you stay hydrated and maintain your health goals.</string>
</dict>
</plist>
